@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background: white;
    @apply dark:bg-gray-900
}

::-webkit-scrollbar-thumb{
    background: #6ee7b7;
    border-radius: 3px;
    @apply dark:bg-green-500
}

::-webkit-scrollbar-thumb:hover{ background: #10b981; }

::-webkit-scrollbar-corner { background: #10b981;}

.blogLayout h2{
    @apply text-gray-900;
    @apply dark:text-gray-50;
}

.blogLayout strong{
    @apply text-gray-900;
    @apply dark:text-gray-50;
}

.blogLayout blockquote{
    @apply text-gray-900;
    @apply dark:text-gray-50;
}